@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix");
  src: url("../fonts/Roboto-Bold.woff2");
  src: url("../fonts/Roboto-Bold.woff");
  src: url("../fonts/Roboto-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix");
  src: url("../fonts/Roboto-Regular.woff2");
  src: url("../fonts/Roboto-Regular.woff");
  src: url("../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.eot");
  src: url("../fonts/Roboto-Light.eot?#iefix");
  src: url("../fonts/Roboto-Light.woff2");
  src: url("../fonts/Roboto-Light.woff");
  src: url("../fonts/Roboto-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

header {
  height: 300px;
  background: #ffffff url("../img/header-bg.jpg") center -33px no-repeat;
  background-size: cover;
}

.logo {
  width: 330px;
}

.logo img {
  width: 100%;
}

.contact {
  display: block;
  padding-top: 10px;
  color: #ffffff;
  font-family: "Roboto Bold", sans-serif;
  font-size: 16px;
  text-align: right;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact:hover {
  text-decoration: none;
  font-size: 16.5px;
  color: #27262e;
}

.line {
  height: 15px;
  background-color: #27262e;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#27262e), color-stop(50%, #ffffff), to(#27262e));
  background-image: linear-gradient(0deg, #27262e 0%, #ffffff 50%, #27262e 100%);
}

.main {
  min-height: 600px;
  background: #ffffff url("../img/main-bg.png") center no-repeat;
  background-size: cover;
}

.menu {
  padding-bottom: 30px;
}

.menu ul {
  display: block;
  padding-left: 0;
  list-style-type: none;
}

.menu li {
  display: block;
  width: 100%;
}

.menu .menu__link {
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 15px;
  margin-bottom: 3px;
  font-family: "Roboto Bold", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: #27262e;
  background-color: #ffffff;
}

.menu .menu__link:hover {
  text-decoration: none;
  color: #ffffff;
  background-color: #27262e;
}

.menu .menu__link_active {
  color: #ffffff;
  background-color: #27262e;
}

.title {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto Bold", sans-serif;
  font-size: 28px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 2px 2px 4px #ffffff;
  letter-spacing: 1px;
}

.title-article {
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Roboto Bold", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  text-indent: 30px;
  letter-spacing: 1px;
}

.about {
  font-family: "Roboto", sans-serif;
  padding-bottom: 100px;
}

.about p {
  text-indent: 30px;
}

.candidate {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.candidate p {
  text-indent: 30px;
  text-align: left;
}

.candidate_contact {
  font-family: "Roboto Bold", sans-serif;
  color: #27262e;
  text-decoration: underline;
}

.employer {
  font-family: "Roboto", sans-serif;
  padding-bottom: 100px;
}

.employer p {
  text-indent: 30px;
}

.employer-advantages {
  list-style-image: url("../img/checked.png");
}

.employer-advantages span {
  text-decoration: underline;
}

.vacancies {
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
}

.vacancies-contact {
  color: #27262e;
}

.vacancies-contact:hover {
  text-decoration: none;
  color: #27262e;
}

.vacancies-contacts {
  margin-left: 50px;
}

.vacancies p {
  margin-bottom: 30px;
}

.vacancies span {
  font-family: "Roboto Bold", sans-serif;
  text-decoration: underline;
}

.contacts__map {
  max-width: 100%;
  height: 250px;
}

.contacts-block {
  max-width: 460px;
  margin-left: auto;
  padding-top: 20px;
  padding-bottom: 28px;
  text-align: center;
}

.contacts-block__title {
  font-family: "Roboto Bold", sans-serif;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: #27262e;
}

.contacts-block__text {
  display: inline-block;
  margin-bottom: 19px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 26px;
  color: #27262e;
}

.contacts-block__text:hover {
  text-decoration: none;
  color: #27262e;
}

.footer {
  height: 40px;
  font-family: "Roboto Light", sans-serif;
  font-size: 14px;
  color: #ffffff;
  background-color: #27262e;
}

.footer_fixed {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-logo {
  margin-top: 7px;
}

.footer-logo__text {
  display: inline-block;
}

.footer-logo__img {
  display: inline-block;
  width: 80px;
  margin-left: 15px;
}

.footer-logo__img img {
  width: 100%;
}

.footer small {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
  letter-spacing: 1px;
}

.preloader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background-color: #27262e;
  opacity: 1;
}

.preloader img {
  max-width: 80%;
}

@media (max-width: 1199px) {
  header {
    height: 260px;
    background: #ffffff url("../img/header-bg.jpg") center -13px no-repeat;
    background-size: cover;
  }

  .contact-tel {
    margin-right: -60px;
  }

  .menu .menu__link {
    padding-left: 8px;
  }

  .vacancies p {
    margin-bottom: 20px;
  }

  .contacts-block {
    margin-left: -15px;
    padding-top: 15px;
  }

  .contacts-block__text {
    font-size: 15px;
  }
}

@media (max-width: 991px) {
  header {
    height: 230px;
    background: #ffffff url("../img/header-bg.jpg") center 0 no-repeat;
    background-size: cover;
  }

  .contact-mail {
    display: none;
  }

  .contact-tel {
    margin-right: 0;
  }

  .contact:hover {
    font-size: 16px;
    color: #ffffff;
  }

  .logo {
    margin-left: -30px;
  }

  .title {
    font-size: 24px;
  }

  .title-article {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
  }

  .menu .menu__link {
    font-size: 16px;
  }

  .menu .menu__link:hover {
    text-decoration: none;
    color: #27262e;
    background-color: #ffffff;
  }

  .about p,
  .candidate p,
  .employer p,
  .vacancies p {
    font-size: 14px;
  }

  .employer ul {
    font-size: 14px;
  }

  .vacancies {
    padding-top: 0;
  }

  .contacts-block {
    padding-top: 0px;
  }

  .contacts-block__title {
    font-size: 18px;
    line-height: 20px;
  }

  .footer {
    font-size: 12px;
  }

  .footer small {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .title {
    font-size: 20px;
  }

  .menu .menu__link {
    font-size: 12.5px;
    letter-spacing: 0.1px;
    padding-left: 5px;
  }

  .about p,
  .candidate p,
  .employer p,
  .vacancies p {
    font-size: 12.5px;
    line-height: 14px;
    letter-spacing: 0.1px;
  }

  .employer ul {
    padding-left: 27px;
    font-size: 12.5px;
    line-height: 14px;
    letter-spacing: 0.1px;
  }

  .contacts__map {
    padding-bottom: 70px;
  }

  .contacts-block {
    margin-left: 0;
    padding-top: 10px;
  }

  .contacts-block__title {
    font-size: 18px;
    line-height: 20px;
  }

  .contacts-block__text {
    margin-bottom: 10px;
  }

  .footer-logo__text {
    display: none;
  }
}

@media (max-width: 575px) {
  .logo {
    width: 100%;
    margin-left: 0;
    text-align: center;
  }

  .logo img {
    width: 250px;
  }

  .contact-tel {
    display: none;
  }

  .title-article {
    text-align: center;
  }

  .menu {
    padding-bottom: 5px;
  }

  .menu .menu__link {
    text-align: center;
  }

  .candidate {
    padding-bottom: 70px;
  }

  .footer-logo__img {
    display: none;
  }

  .footer-text {
    width: 100%;
    text-align: center;
  }

  .footer small {
    max-width: 200px;
    margin-top: 0;
    font-size: 11.5px;
    line-height: 13px;
    text-align: center;
    letter-spacing: 0.1px;
  }
}